{% extends "contributors/base.html" %}
{% load i18n %}

{% block content %}

<h1>Import logs</h1>

<div id="intro">
  Import logs for the last {{days}} days
</div>

<table class="table table-sm tablesorter">
<thead>
  <tr>
    <th>{% trans "Timestamp" %}</th>
    <th>{% trans "Source" %}</th>
    <th>{% trans "Elapsed" %}</th>
    <th>{% trans "Contributions" %}</th>
  </tr>
</thead>
<tbody>
{% for l in log %}
<tr>
  <td>{{l.timestamp}}</td>
  <td><a href="{{l.source.get_absolute_url}}">{{l.source}}</a></td>
  <td>{{l.details_parsed.elapsed}}</td>
  <td>{{l.details_parsed.contributions_processed}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
