{% extends "claim/base.html" %}
{% load i18n %}

{% block content %}

<div class="jumbotron">
  <h1>Claim identifiers for <a href="{{target.get_absolute_url}}">{{target}}</a></h1>

<p class="lead">
{% if user.is_dd %}
{% blocktrans %}
Associate identifiers to the user you chose. As Debian Developer, you can
associate any identifier to any person: you can use this to help friends or
people in your teams get credited.
<b>Always ask</b> before associating an identifier to a person other than
you: do not associate people without their consent.
{% endblocktrans %}
{% else %}
Associate identifiers to your user: you will be asked to prove that you control
the identifiers that you choose. If you need help, you can ask a Debian
Developer that knows you well to do the changes for you.
{% endif %}
</p>

<hr class="my-4">

<form method="POST" action="{% url 'claim:email' username=target.username %}">{% csrf_token %}
  {% for f in email_form.hidden_fields %}{{f}}{% endfor %}
  {% for field in email_form.visible_fields %}
  <div class="form-group row">
    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-8">
      {{field}}
    <small class="text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div class="text-danger">{{field.errors}}</div>
    {% endif %}
    </div>
    <div class="col-sm-2">
    <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-link"></span> {% trans "Claim" %}</button>
    </div>
  </div>
  {% endfor %}
</form>

{% if user.is_dd %}
<form method="POST" action="{% url 'claim:fpr' username=target.username %}">{% csrf_token %}
  {% for f in fpr_form.hidden_fields %}{{f}}{% endfor %}
  {% for field in fpr_form.visible_fields %}
  <div class="form-group row">
    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-8">
      {{field}}
    <small class="text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div class="text-danger">{{field.errors}}</div>
    {% endif %}
    </div>
    <div class="col-sm-2">
    <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-link"></span> {% trans "Claim" %}</button>
    </div>
  </div>
  {% endfor %}
</form>

<form method="POST" action="{% url 'claim:login' username=target.username %}">{% csrf_token %}
  {% for f in login_form.hidden_fields %}{{f}}{% endfor %}
  {% for field in login_form.visible_fields %}
  <div class="form-group row">
    <label for="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
    <div class="col-sm-8">
      {{field}}
    <small class="text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div class="text-danger">{{field.errors}}</div>
    {% endif %}
    </div>
    <div class="col-sm-2">
    <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-link"></span> {% trans "Claim" %}</button>
    </div>
  </div>
  {% endfor %}
</form>
{% endif %}

{% if messages %}
<hr class="my-4">

<ul class="list-group">
{% for message in messages %}
<li class="list-group-item
  {% if message.level_tag == 'error' %}list-group-item-danger{% endif %}
  {% if message.level_tag == 'warning' %}list-group-item-warning{% endif %}
  {% if message.level_tag == 'info' %}list-group-item-info{% endif %}
  "><span class="fa fa-{% if message.level_tag == 'info' %}info-circle{% else %}warning{% endif %}"></span> {{message}}</li>
{% endfor %}
</ul>
{% endif %}

</div>

{% endblock %}
