{% extends "dc-base.html" %}

{% block nav_left_items %}{# Top links #}
{{block.super}}
{% if source %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-address-book-o"></span>
    {{source}}
  </a>
  <div class="dropdown-menu dropdown-menu" role="menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="{{source.get_absolute_url}}"><span class="fa fa-address-book-o"></span> View</a>

    {% if not user.is_anonymous %}
    <a class="dropdown-item" href="{% url 'sources:user_settings' sname=source.name %}"><span class="fa fa-gear"></span> User settings</a>
    {% endif %}

    {% if perm_source_admin %}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'sources:update' sname=source.name %}"><span class="fa fa-gears"></span> Configure</a>
    <a class="dropdown-item" href="{% url 'importer_source_status' sname=source.name %}"><span class="fa fa-history"></span> Import logs</a>
    <a class="dropdown-item" href="{% url 'sources:backup_list' sname=source.name %}"><span class="fa fa-cloud-download"></span> Backups</a>
    {% endif %}
  </div>
</li>
{% endif %}
{% endblock %}

{% block content %}
<h1>Debian Contributors Page Template</h1>
{% endblock %}
