{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

{% if object %}
<h1>Edit {{object}} contribution type</h2>
{% else %}
<h1>Create new Debian Contributors contribution type</h2>
{% endif %}

<form action="." method="POST">{% csrf_token %}
  {{ form.non_field_errors }}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form %}
  <div class="form-group">
  {{field.label_tag}}
  {% if field.errors %}
  Issues with the field:
  {{field.errors}}
  {% endif %}
  {{field}}
  <small class="form-text text-muted">{{field.help_text}}</small>
  </div>
  {% endfor %}

  <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
</form>

{% endblock %}

