{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<h1>Debian Contributors {{source.name}} {{ct.desc}} data source</h2>

<h2>Contributions</h2>

<p class="lead">{{contribs.count}} contributors/contributions tracked:</p>

<table id="contribs" class="table table-sm tablesorter">
<thead>
    <tr>
        <th>Name</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for c in contribs %}
    <tr>
      <td><a href="{{c.user.get_absolute_url}}">{{c.user.full_name|default:c.user.username}}</a></td>
      <td data-sort="{{c.begin|date:"Ymd"}}">{{c.begin}}</td>
      <td data-sort="{{c.until|date:"Ymd"}}">{{c.until}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
