{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

<h1>Backups for '{{object.name}}'</h1>

<table id="sources" class="table table-sm tablesorter">
<thead>
    <tr>
        <th>Backup time</th>
        <th>Identifiers</th>
        <th>Contributions</th>
        <th>Contribution types</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
  {% for b in backups %}
  <tr>
    <td>{{b.backup_time}}</td>
    <td>{{b.ident_count}}</td>
    <td>{{b.contrib_count}}</td>
    <td>
      {% for ct in b.contrib_types %}
      <a href="{% url 'sources:ctype_view' sname=object.name name=ct %}">{{ct}}</a>
      {% endfor %}
    </td>
    <td>
      <a href="{% url 'sources:backup_download' sname=object.name backup_id=b.id %}">Download</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>


{% endblock %}

