{% extends "sources/base.html" %}
{% load i18n %}

{% block content %}

{% if object %}
<h1>Edit {{object}} data source</h2>

<div class="card">
  <div class="card-header">Example post command</div>
  <div class="card-body">
    <pre class="mb-0">
curl https://{{ request.META.HTTP_HOST }}{% url 'contributors_post' %} \
     -F source="{{object.name}}" -F auth_token="{{object.auth_token}}" \
     -F data_compression=gzip -F data=@filename.json.gz</pre>
    <small>Also supported: <tt>-F data=@filename.json</tt> and
      <tt>-F data_compression=xz -F data=@filename.json.xz</tt>.</small>
  </div>
</div>
{% else %}
<h1>Create new Debian Contributors data source</h2>
{% endif %}

<form action="." method="POST">{% csrf_token %}
  {{ form.non_field_errors }}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for field in form %}
  <div class="form-group">
    {{field.label_tag}}
    {% if field.errors %}
    Issues with the field:
    {{field.errors}}
    {% endif %}
    {{field}}
    <small class="form-text text-muted">
    {{field.help_text}}
    </small>
  </div>
  {% endfor %}

  <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
</form>

{% if object %}
<h2 class="mt-3">Contribution types</h2>

<table id="ctypes" class="table table-sm tablesorter {{class}}">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Contributor description</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for c in object.contribution_types.all %}
    <tr>
        <td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td>
        <td>{{c.desc}}</td>
        <td>{{c.contrib_desc}}</td>
        <td>
          <a class="btn btn-sm btn-primary" href="{% url 'sources:ctype_update' sname=object.name name=c.name %}">Edit</a>
          <a class="btn btn-sm btn-warning" href="{% url 'sources:ctype_delete' sname=object.name name=c.name %}">Delete</a>
          <a class="btn btn-sm btn-warning" href="{% url 'sources:ctype_delete_contributions' sname=object.name name=c.name %}">Delete all contributions</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
  <tr>
    <td colspan="4">
      <a href="{% url 'sources:ctype_add' sname=object.name %}">Create new contribution type</a>
    </td>
  </tr>
</tfoot>
</table>


{% endif %}

{% endblock %}
