{% extends "contributors/base.html" %}
{% load i18n %}

{% block head %}
{{block.super}}
<style>
.errorlist {
  color: red;
}
td.save_settings {
  text-align: right;
}
p.visform {
  margin: 0;
}
p.visuser {
  margin-bottom: 1em;
}
p.vissubmit {
  margin-top: 1em;
}
tr.hidden {
  background: #ccc;
}
</style>
{% endblock %}

{% block nav_left_items %}
{{block.super}}
{% if contributor and contributor != request.user %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa fa-user-circle"></span>
    {{contributor.username}}
  </a>
  <div class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="navbarDropdown">
    {% if request.user.is_superuser %}
    <form class="form-inline" method="POST" action="{% url 'impersonate:impersonate' %}">{% csrf_token %}
      <input type="hidden" name="pk" value="{{contributor.pk}}">
      <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
      <button class="dropdown-item btn btn-link" type="submit"><span class="fa fa-random"></span> {% trans "Impersonate" %}</button>
    </form>
    {% endif %}
    <a class="dropdown-item" href="{{contributor.get_absolute_url}}"><span class="fa fa-user"></span> {% trans "Personal page" %}</a>
    {% if request.user.is_dd %}
    <a class="dropdown-item" href="{% url 'claim:menu' contributor.username %}"><span class="fa fa-user-plus"></span> {% trans "Associate identifiers" %}</a>
    {% endif %}
{% comment %}
    {% if not redacted or request.user.is_dd %}<a class="dropdown-item" href="{% url 'contributor:unclaim' name=contributor.username %}"><span class="fa fa-user-times"></span> Unassociate identifiers</a>{% endif %}
{% endcomment %}
  </div>
</li>
{% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">

{% if contributor.is_dd %}
<div class="badge badge-pill badge-primary float-right">Debian Developer</div>
{% endif %}

<h1 class="d-flex">
  {% with contributor.get_picture_url as picture %}
    {% if picture %}
    <img class="mr-2 personpic" src="{{picture}}"></img>
    {% endif %}
  {% endwith %}
  {{contributor.full_name}}
</h1>

<p class="lead">
  {% if redacted %}
  <i>{{contributor}}</i> has contributed to:
  {% else %}
  You have contributed to:
  {% endif %}
</p>

<table class="table table-sm tablesorter">
<thead>
  <tr>
    <th>{% trans "Identifier" %}</th>
    <th>{% trans "Team" %}</th>
    <th>{% trans "Contribution" %}</th>
    <th>{% trans "Since" %}</th>
    <th>{% trans "Until" %}</th>
  </tr>
</thead>
<tbody>
{% for c in contributions %}
<tr {% if c.hidden %}class="hidden"{% endif %}>
      {% if redacted %}
      <td>
        {{c.identifier.type}}:{% if c.identifier.type == "email" %}hidden{% else %}{{c.identifier.name}}{% endif %}
      </td>
      {% else %}
      <td>{{c.identifier.type}}:{{c.identifier.name}}</td>
      {% endif %}
      <td>
        <a href="{{c.type.source.get_absolute_url}}">{{c.type.source}}</a>
      </td>
      <td>
        <a href="{{c.type.get_absolute_url}}">{{c.type.contrib_desc}}</a>
        {% if c.url %}
        <a href="{{c.url}}">(extra info)</a>
        {% endif %}
      </td>
      {% if redacted %}
      <td data-sort="{{c.begin|date:"Ym"}}">{{c.begin|date:"F Y"}}</td>
      <td data-sort="{{c.until|date:"Ym"}}">{{c.until|date:"F Y"}}</td>
      {% else %}
      <td data-sort="{{c.begin|date:"Ymd"}}">{{c.begin}}</td>
      <td data-sort="{{c.until|date:"Ymd"}}">{{c.until}}</td>
      {% endif %}
    </tr>
{% endfor %}
</tbody>
</table>

{% if not redacted %}

<h2 class="mt-3">{% trans "Activity logs" %}</h2>

<div class="row">
  <div class="col-3 overflow-hidden">
    <div class="nav flex-column nav-pills" id="logs-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="logs-user-tab" data-toggle="pill" href="#logs-user" role="tab" aria-controls="logs-user" aria-selected="true">
        <span class="fa fa-user-circle"></span>
        {% trans 'User' %}
      </a>
      {% for s in identifiers %}
      <a class="nav-link text-nowrap" id="logs-ident-{{s.ident.pk}}-tab" data-toggle="pill" href="#logs-ident-{{s.ident.pk}}" role="tab" aria-controls="logs-ident-{{s.ident.pk}}" aria-selected="false">
        {% if s.ident.type == "email" %}
        <span class="fa fa-at"></span>
        {% elif s.ident.type == "fpr" %}
        <span class="fa fa-gnupg"></span>
        {% elif s.ident.type == "login" %}
        <span class="fa fa-user"></span>
        {% else %}
        <span class="fa fa-chevron-circle-right"></span>
        {% endif %}
        {{s.ident.name}}
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="logs-tabcontent">
      <div class="tab-pane show active" id="logs-user-tab" role="tabpanel" aria-labelledby="logs-user-tab">
        {% if user_log %}
        <h2>{% trans "User activity log" %}</h2>
        <table class="table table-sm tablesorter">
          <thead>
            <tr><th>{% trans "Time" %}</th><th>{% trans "Entry" %}</th></tr>
          </thead>
          <tbody>
          {% for l in user_log %}
            <tr><td data-sort="{{l.ts|date:"YmdHis"}}">{{l.ts}}</td><td>{{l.text}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>{% trans "No activity found on record." %}</p>
        {% endif %}
      </div>
      {% for s in identifiers %}
      <div class="tab-pane" id="logs-ident-{{s.ident.pk}}" role="tabpanel" aria-labelledby="logs-ident-{{s.ident.pk}}-tab">
        {% if s.log %}
	<h2>{% blocktrans with name=s.ident.name %}Activity log for {{name}}{% endblocktrans %}</h2>
        <table class="tablesorter">
          <thead>
            <tr><th>{% trans "Time" %}</th><th>{% trans "Entry" %}</th></tr>
          </thead>
          <tbody>
          {% for l in s.log %}
            <tr><td data-sort="{{l.ts|date:"YmdHis"}}">{{l.ts}}</td><td>{{l.text}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
        {% trans "No activity found on record." %}
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<h2 class="mt-3">{% trans "Settings" %}</h2>

<form method="post" action="{% url 'contributor:save_settings' name=contributor.username %}">{% csrf_token %}

<h3>{% trans "User information" %}</h3>

<div class="form-group">
<label for="full_name">{% trans "Full name: " %}</label>
<input class="form-control" type="text" name="full_name" value="{{contributor.full_name}}"></input>
</div>

<h3>{% trans "User visibility" %}</h3>

<div class="form-group form-check visform visuser">
<input type="checkbox" name="hide_user" {% if hide_user %}checked{% endif %} class="hide_user form-check-input">
<label class="form-check-label" for="hide_user">{% trans "hide all activity from this user" %}</label>
</div>

{% for s in identifiers %}
<div class="form-group form-check visform">
<input type="checkbox" name="hide_{{s.ident.pk}}" {% if s.ident.hidden %}checked{% endif %} class="hide_ident form-check-input">
<label class="form-check-label" for="hide_{{s.ident.pk}}">
  {% blocktrans with type=s.ident.type name=s.ident.name %}
  hide all activity from {{type}} "{{name}}"
  {% endblocktrans %}
</label>
</div>

<a class="btn btn-warning" href="{% url 'claim:unclaim' username=user.username ident=s.ident.pk %}">{% trans "Disassociate" %} {{s.ident.name}}</a>
{% endfor %}

<button class="btn btn-primary visform vissubmit">{% trans "Save settings" %}</button>

</form>

<h3 class="mt-3">{% trans "Hidden contributions" %}</h3>

{% if source_settings %}
<p>{% trans "These teams are currently hidden:" %}</p>
<ul>
  {% for s in source_settings %}
  <li>
    You will not show in team <a href="{% url 'sources:user_settings' sname=s.source.name %}">{{s.source.name}}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>{% trans "No teams are currently hidden." %}</p>
{% endif %}

{% endif %}

</div>

{% endblock %}
